<!--Created on 12th May 2019-->
<html lang="en">
<head>
    <!--jQUERY should always come first before Bootstrap-->
    <base target="_blank">
    <link rel="icon" href="images/q_logo.png">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Aravind Balaji">
    <meta name="name" content="QuaeroOps">

    
    <title>{{title}}</title>

   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <!----------------BOOTSTRAP----------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <!----------------GOOGLE FONTS----------------------->
   <link href="frameworks/fonts.css" rel="stylesheet">
   <link rel="stylesheet" href="{{cssfile}}">      
   <link rel="stylesheet" href="{{cssanimate}}">
</head>

<body>
    {{{body}}}
</body>
</html>


