    <div class="jumbotron container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="jumbo_text section">
            <a href="/" target='_self'>
                <div class="animated fadeInDown">
                    <img src="../images/q_logo_full.png" class="img-responsive" width="150rem">                    
                    <h1 id="title">Welcome to Quaero Ops</h1>
                </div>
            </a>
            <span id="my_subtitle" class="animated fadeInDown delay-1s">What would you like to do today?</span><br>          
            <div class="row justify-content-end" id="small_menu">
                <div class="col-auto align-content-right">
                    <button type="button" class="btn btn-primary" onclick="LogOut()">Log Out</button>
                </div>                
            </div>
        </div>
        

    </div>


    <div class="container-fluid" id="main_body" align="center">
        <div class="body_content">
            <div class="container-fluid">
                <div class="row">
                         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                             <div class="main_box" id="box_wfman">
                                 <a href="wf_man" target="_self">
                                    <div class="box_title">
                                        WF Manager
                                    </div>
                                    <div class="box_desc">
                                            Monitor the operations of all your workflows
                                    </div>
                                </a>
                             </div>                             
                         </div>
                         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="main_box" id="box_code">
                                    <a href="" target="_self">
                                       <div class="box_title">
                                           Codebase
                                       </div>
                                       <div class="box_desc">
                                            Collection of scripts and code developed by colleagues
                                       </div>
                                   </a>
                                </div>                             
                            </div>
                         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="main_box" id="box_skill">
                                    <a href="https://training.quaero.com" target="_blank">
                                       <div class="box_title">
                                           Game of Skills
                                       </div>
                                       <div class="box_desc">
                                           Improve your tech stack by learning something new
                                       </div>
                                   </a>
                                </div>                             
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="main_box" id="box_doc">
                                    <a href="https://quaerodev.readthedocs.io" target="_blank">
                                       <div class="box_title">
                                           Documentation
                                       </div>
                                       <div class="box_desc">
                                           Learn everything there is to know about Quaero CDP
                                       </div>
                                   </a>
                                </div>                             
                        </div>
                </div>
            </div>       
        </div>
    </div>