    <div class="jumbotron container-fluid">
        <div class="jumbo_text row">
            <div class="col-lg-4 col-md-4 mt-2" align="left">                
                <a href="/" target="_self"><img src="images/q_logo_full.png" class="img-responsive" width="120rem" id="logo"></a>
            </div>                
            <div class="animated fadeInDown col-lg-4 col-md-4">
                <h1 id="title">Workflow Manager</h1>
            </div>
            </a>            
        </div>        
        <div class="row menu_bar">
            <div class="col-lg-auto col-md-auto menu_item" onclick="showDashboard()">                           
                Dashboard            
            </div>                
            <div class="col-lg-auto col-md-auto menu_item" onclick="showSearch()">                           
                Search
            </div>
            <div class="col-lg-auto col-md-auto menu_item" onclick="showMonitor()">                           
                Monitor
            </div>
        </div>
    </div>   
    <br>
    <div style="text-align:center">        
        <div class="notif_bar" id="notif_bar">
            Welcome
        </div>
    </div>    
    <div class="container-fluid" id="dash_body" align="center">
            <div class="body_content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">                            
                                    <span>RUNNING : </span><span id="running_wf" class="green_text font-weight-bold">-</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">                            
                                    <span>FAILED : </span><span id="failed_wf"class="red_text font-weight-bold">-</span>
                            </div>
                        </div>    
                    </div>    
            </div>
    </div>    
    <div class="container-fluid" id="srch_body" align="center">
            <div class="body_content">
                <div class="container-fluid">                                             
                    <div class="row justify-content-center"  style='zoom:0.9'>                        
                        <div class="col-lg-auto col-md-auto col-sm-6 col-xs-12" align="left">
                            <div><span class="gray_text">Server</span></div>                            
                            <div class="btn-group">
                                <button type="button" id="server_name" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSVSQLESPN03T
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" target="_self">HSVSQLESPN03T</a>
                                    <a class="dropdown-item" href="#" target="_self">HSCSQLTRAINT</a>                              
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" target="_self">HSVSQLESPN01P</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto" align="left">
                            <div><span class="gray_text">Metastore</span></div>                            
                            <div class="btn-group" >
                                    <button type="button" id="db_name" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Test_espnregr4_3128
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" target="_self">Test_espnregr4_3128</a>                                         
                                    </div>
                                </div>
                        </div>    
                        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto" align="left">
                                <div><span class="gray_text">Search column</span></div>                                
                                <div class="btn-group">                                        
                                        <button type="button" id="srch_col" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        WORKFLOW_NAME
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#" target="_self">WORKFLOW_NAME</a>                                         
                                        </div>
                                    </div>
                        </div>   
                        <div class="col-lg-3 col-md-3 col-sm-auto col-xs-auto" align="left">
                                <div><span class="gray_text">Search</span></div>                                
                                <div class="btn-group srch_box">
                                        <input type="text" class="form-control" id="srch_box" placeholder="%Search String%" >
                                </div>
                        </div>
                        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto" align="left">
                                <div><span class="gray_text">Order by column</span></div>                                
                                <div class="btn-group">
                                        <button type="button" id="order_col" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        WORKFLOW_NAME
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#" target="_self">WORKFLOW_NAME</a>                                         
                                        </div>
                                    </div>
                        </div>
                        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto" align="left">                                
                                <div><span class="gray_text">Asc/Desc</span></div>                                
                                <div class="btn-group">
                                    <button type="button" id="order_type" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ASC
                                    </button>                                       
                                </div>
                                
                        </div>
                    </div>                    
                    <div id="srch_result_div"> 
                            <br><br>Search for workflows and filter them from above                                                                                                                                    
                    </div>

                </div>
                </div>
            </div>
    </div>

