    <div class="jumbotron mb-1 container-fluid">
        <div class="jumbo_text row">
            <div class="col-lg-4 col-md-4 mt-2" align="left">                
                <a href="/" target="_self"><img src="images/q_logo_full.png" class="img-responsive" width="120rem" id="logo"></a>
            </div>                
            <div class="animated fadeInDown col-lg-4 col-md-4">
                <h1 id="title">Workflow Manager</h1>
            </div>
            </a>            
        </div>                
    </div>
    <div id="load_img" class="row justify-content-center">                        
        <div style="color:#007BFF" class="la-square-jelly-box mr-3">
            <div></div><div></div>            
        </div>                                    
        <span id="load_txt">Getting ready...</span>
    </div>
<ul class="nav nav-tabs" id="myTab" role="tablist">    
    <li class="nav-item">
        <a class="nav-link" id="dash_tab" data-toggle="tab" href="#dash_body" role="tab" aria-controls="dash_body" aria-selected="false">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="srch_tab" data-toggle="tab" href="#srch_body" role="tab" aria-controls="srch_body" aria-selected="false">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mon_tab" data-toggle="tab" href="#mon_body" role="tab" aria-controls="mon_body" aria-selected="false">Monitor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="report_tab" data-toggle="tab" href="#report_body" role="tab" aria-controls="report_body" aria-selected="false">Reporting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="query_tab" data-toggle="tab" href="#query_body" role="tab" aria-controls="query_body" aria-selected="false">Queries</a>
    </li>       
    <li class="nav-item ml-auto">
        <a class="nav-link disabled" id="prof_tab" data-toggle="tab" href="#prof_body" role="tab" aria-controls="prof_body" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="admin_tab" data-toggle="tab" href="#admin_body" role="tab" aria-controls="admin_body" aria-selected="false">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sett_tab" data-toggle="tab" href="#sett_body" role="tab" aria-controls="sett_body" aria-selected="false">Settings</a>
    </li>            
</ul>

<div class="tab-content" id="myTabContent">       
    <div class="container-fluid sec_body tab-pane fade mt-2" role="tabpanel" id="dash_body"  align="center">
            <div class="body_content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">                            
                                    <span>RUNNING : </span><span id="running_wf" class="green_text font-weight-bold">-</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">                            
                                    <span>FAILED : </span><span id="failed_wf"class="red_text font-weight-bold">-</span>
                            </div>
                        </div>    
                    </div>    
            </div>
    </div>    
    <div class="container-fluid sec_body tab-pane fade active mt-2 " role="tabpanel"  id="srch_body"  align="center">
            <div class="body_content">
                <div class="container-fluid">                                             
                    <div class="row justify-content-center"  style='zoom:0.9'>                        
                        <div class="col-lg-auto col-md-auto col-sm-6 col-xs-12" align="left">
                            <div><span class="gray_text">Select</span></div>                            
                            <div class="btn-group">
                                <button type="button" id="server_name" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Server
                                </button>
                                <div class="dropdown-menu" id="server_drop">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto" align="left">
                            <div><span class="gray_text">using</span></div>                            
                            <div class="btn-group" >
                                    <button type="button" id="metastore_name" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select metastore
                                    </button>
                                    <div class="dropdown-menu" id="meta_drop">
                                        
                                    </div>  
                                </div>
                        </div>    
                        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto" align="left">
                                <div><span class="gray_text">where column</span></div>                                
                                <div class="btn-group">                                        
                                        <button type="button" id="srch_col" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        WORKFLOW_NAME
                                        </button>
                                         <div class="dropdown-menu" id="wf_drop">
                                             <a class='dropdown-item wf_item' href='#' target='_self'>WORKFLOW_ID</a>
                                             <a class='dropdown-item wf_item' href='#' target='_self'>WORKFLOW_NAME</a>
                                             <a class='dropdown-item wf_item' href='#' target='_self'>WORKFLOW_DESC</a>
                                             <a class='dropdown-item wf_item' href='#' target='_self'>WORKFLOW_INSTANCE_ID</a>
                                             <a class='dropdown-item wf_item' href='#' target='_self'>ACTIVE_FLG</a>
                                             <a class='dropdown-item wf_item' href='#' target='_self'>UPDATE_USER</a>
                                        </div>
                                    </div>
                        </div>   
                        <div class="col-lg-3 col-md-3 col-sm-auto col-xs-auto" align="left">
                                <div><span class="gray_text">like %%</span></div>                                
                                <div class="btn-group srch_box">
                                        <input type="text" class="form-control" id="srch_box">
                                </div>
                        </div>
                        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto" align="left">
                                <div><span class="gray_text">order by column</span></div>                                
                                <div class="btn-group">
                                        <button type="button" id="order_col" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        WORKFLOW_ID
                                        </button>
                                        <div class="dropdown-menu" id="order_drop">
                                            <a class='dropdown-item order_item' href='#' target='_self'>WORKFLOW_ID</a>
                                             <a class='dropdown-item order_item' href='#' target='_self'>WORKFLOW_NAME</a>
                                             <a class='dropdown-item order_item' href='#' target='_self'>WORKFLOW_DESC</a>
                                             <a class='dropdown-item order_item' href='#' target='_self'>WORKFLOW_INSTANCE_ID</a>
                                             <a class='dropdown-item order_item' href='#' target='_self'>RUN_TIME_IN_MINS</a>
                                             <a class='dropdown-item order_item' href='#' target='_self'>UPDATE_DT</a>
                                             <a class='dropdown-item order_item' href='#' target='_self'>START_DT</a>
                                             <a class='dropdown-item order_item' href='#' target='_self'>END_DT</a>                                             
                                             <a class='dropdown-item order_item' href='#' target='_self'>ACTIVE_FLG</a>
                                             <a class='dropdown-item order_item' href='#' target='_self'>UPDATE_USER</a>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto" align="left">                                
                                <div><span class="gray_text">asc/desc</span></div>                                
                                <div class="btn-group">
                                    <button type="button" id="order_type" class="btn btn-primary" onclick="toggleOrder()" aria-haspopup="true" aria-expanded="false">
                                    ASC
                                    </button>                                       
                                </div>
                                
                        </div>
                    </div>
                     <div style="text-align:center">        
                        <div class="notif_bar" id="notif_bar">
                            Welcome
                        </div>
                    </div>                        
                    <div id="srch_result_div"> 
                            <br><br>Search for workflows and filter them from above                                                                                                                                    
                    </div>

                </div>
                </div>
    </div>
    <div class="container-fluid sec_body tab-pane fade mt-2" role="tabpanel"  id="mon_body" align="center">
            <div class="body_content">
                    <div class="container-fluid">                        
                       <div class="row ml-3" id="filter_menu">
                            <div class="col-lg-9 col-md-9">
                                <div class="row mt-2 ml-2">
                                    <div class="col-lg-auto col-md-auto mr-4" onclick="">                           
                                        <input class="form-check-input" type="checkbox" name="" id="complete_filter" checked>
                                        <label class="form-check-label" for="complete_filter" id="complete_filter_label">COMPLETE%</label>
                                    </div>                
                                    <div class="col-lg-auto col-md-auto mr-4" onclick="">                           
                                        <input class="form-check-input" type="checkbox" name="" id="failed_filter" checked>
                                        <label class="form-check-label" for="failed_filter" id="failed_filter_label">FAILED%</label>
                                    </div>
                                    <div class="col-lg-auto col-md-auto" onclick="">                           
                                        <input class="form-check-input" type="checkbox" name="" id="executing_filter" checked>
                                        <label class="form-check-label" for="executing_filter" id="executing_filter_label">EXECUTING</label>
                                    </div>
                                    <div class="col-lg-auto col-md-auto" id="mon_status" style="margin-left:100px">                             
                                        <b>Refreshing Workflows...</b>
                                    </div> 
                                </div>                                                                   
                            </div>                              
                            <div class="col-lg-3 col-md-3">                                
                                <div class="row justify-content-end">
                                    <div class="col-lg-auto col-md-auto" onclick="">                           
                                        <span>Refresh every </span>
                                         <div class="btn-group">
                                            <input type="number" class="form-control" id="ref_box" min="5" value="60">
                                        </div>
                                        <span> seconds</span>
                                    </div>                                      
                                </div>
                            </div> 
                        </div>
                        <div class="row ml-2">
                            <div class="col">
                                <div id="ref_progress_bar" class="progress mt-1" style="height: 3px; display:none">
                                    <div id="ref_progress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>                                                                                                   
                                </div>
                            </div>
                        </div>                        
                        <div class="row justify-content-center">                               
                            <div class="col-lg-auto col-md-auto col-sm-6 col-xs-12" align="left">                                                                     
                                <div id="monitor_div"> 
                                    
                                </div>
                            </div>
                        </div>    
                    </div>    
            </div>
    </div>   
    <div class="container-fluid sec_body  tab-pane fade  mt-2" role="tabpanel"  id="sett_body"   align="center">
        <div class="body_content">
            <div class="container-fluid">
                <div class="row">
                    <div class="sett_item col-lg-12 col-md-12 col-sm-12 col-xs-12" id="sett_configserver" align="left">
                        <b>Configure Servers</b><br>
                        Server configurations to access metastores                        
                        <br><br>
                        <div class="expanded_sett">
                            <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#editServer" data-type="add" data-title="Add server">
                                Add a new server
                            </button>
                            <div id="server_list" class="row mt-2 mb-2">
                                
                            </div>
                            <span class="red_text">WARNING : Deleting a host will also remove any workflows being monitored on that server</span>
                            <div class="modal fade" data-backdrop="static" id="editServer" tabindex="-1" role="dialog" aria-labelledby="editServerLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editServerLabel"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">                                            
                                            <form>              
                                                <div id='server_config_alert' class="alert alert-danger"></div>                                                                              
                                                <div class="form-group">  
                                                    <span><b>Server/Hostname</b></span><br>                                      
                                                    <input type="text" class="form-control" id="host_name">
                                                </div>
                                                <div class="form-group">  
                                                    <span><b>Nickname</b></span><br>                                      
                                                    <input type="text" class="form-control" id="nick_name">
                                                </div>
                                                <div class="form-group">  
                                                    <span><b>Server Type</b></span><br>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="server_type" id="test_option" value="test" checked>
                                                        <label class="form-check-label" for="test_option">Test/Developer</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="server_type" id="prod_option" value="prod">
                                                        <label class="form-check-label" for="prod_option">Production</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">  
                                                    <span><b>Authentication Type</b></span><br>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="auth_type" id="win_option" value="windows" checked>
                                                        <label class="form-check-label" for="win_option">Windows</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="auth_type" id="sql_option" value="sql">
                                                        <label class="form-check-label" for="sql_option">SQL</label>
                                                    </div>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="qcred" checked disabled>
                                                    <label class="form-check-label" for="qcred">
                                                        Use Quaero username/password
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="deleteServerDetails" class="btn btn-danger mr-auto" onclick="deleteServerDetails()">Delete</button>                                    
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="button" id="saveServerDetails" class="btn btn-success" onclick="saveServerDetails()">Test &amp; Save changes</button>                                                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sett_item col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3" id="sett_prefetch_mwf" align="left">
                        <b>Prefetch Metadata</b><br>
                        Frequently queried metastore details which do not change often, can be pre-fetched to allow a faster experience 
                        <i>(NOTE : Please perform a prefetch once in a while, so you do not have stale metadata)</i>
                        <br><br>
                    <div class="expanded_sett">
                    </div>
                </div>
            </div>    
        </div>
    </div> 

    </div>

    </div>

