:root {
    --primary_light : #E7F2FA;
    --danger_light  : #FDF3F2;
    --success_light : #DBFAF4;

    --primary_dark : #6AB0DE;
    --danger_dark  : #F29F97;
    --success_dark : #1ABC9C;

    --primary_bright: #2196F3;
    --danger_bright: #F44336;
    --success_bright: #4CAF50;    
}


@font-face {
    font-family: futura_bold;
    src: url('../fonts/Futura_PT/FuturaPTBook.otf');
}

@font-face {
    font-family: futura_light;
    src: url('../fonts/Futura_PT/FuturaPTLight.otf');
}

body {
    overflow-x: hidden;
    margin: 0;    
    background-color: var(--text_light);    
}

#title, #my_subtitle {
    color: white;    
}
#title{
    font-size: 2rem;
    margin-top: 0.3rem;
}



.jumbotron {
    text-align: center;
    background-color: transparent;        
    margin-top: -4rem;    
    margin-left: 0;     
    margin-right: 0;
    height: 7rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../images/bg.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-position: center;
    border-radius: 0;    
    font-family: 'futura_light', serif;    
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
    
}

#mon_status, #myTab,#workflow_instance_status_display,#wf_result,#dataset_display,#stage_display
{
    display: none;
}

#myTab
{
  font-family: 'futura_bold', serif;     
  width: 100%;
}

a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;     
    color: inherit;
}

.notif_bar{
    display:  inline-block;
    padding: 0.3rem;    
    margin:1rem;    
    background-color: var(--primary_bright);
    color:white;
    box-shadow: 0rem 0rem 1rem gray;       
    z-index: 2;
    position: relative;
    width: 50%;     
    border-radius: 3px;               
}

.gray_text
{
    color: gray;
}

.red_text
{
    color : var(--danger_bright);
}
.green_text
{
    color : var(--success_bright) ;
}
.blue_text
{
  color : var(--primary_bright);
}

.res_item
{    
    zoom: 0.9;
    margin: 1rem;
    padding: 0.5rem;        
    font-family: futura_bold;
    border-radius: 4px;    
}

.sett_item
{
  background-color: rgb(203, 228, 255) ;
  border-radius: 0.2rem;    
  transition: all 300ms;
  padding: 0.5rem;
}

.srch_box
{
  width : 100%;
}

#ref_box
{
  width: 5rem;
}

#err_log_display,#pc_display,#ds_display
{
  font-size: 70%;
}

.wfi_row,.ds_row,.stage_row
{
  cursor: pointer;
}

#filter_menu
{
  border: rgb(203, 228, 255) solid 0.2rem;
  padding: 0.2rem;
  border-radius: 4px;  
  font-family: 'futura_bold', serif;            
}
.fade {  
  transition: opacity 0.1s linear;
}
.expanded_sett
{
  display:  inline-block;
}

#load_img
{
  margin-top: 5rem;
}
/*-----------------------SWITCH CSS-------------------*/
.switch-label
{   
    height: 1px;    
}
.switch-input {
  display: none;
}
.switch-label {
	
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;  
  padding: 0px 0 22px 44px;
	
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #A5D6A7;
  
}
.switch-input:checked + .switch-label:after {
  background-color: var(--success_bright);
  
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
