@font-face {
    font-family: futura_bold;
    src: url('fonts/Futura_PT/FuturaPTBook.otf');
}

@font-face {
    font-family: futura_light;
    src: url('fonts/Futura_PT/FuturaPTLight.otf');
}

body {
    overflow-x: hidden;
    margin: 0;    
    background-color: var(--text_light);
}

#title, #my_subtitle {
    color: white;
}
#title{
    margin-top: 1rem;    
}



.jumbotron {
    text-align: center;
    background-color: transparent;    
    margin-bottom: 1rem;
    margin-top: -4rem;    
    margin-left: 0;     
    margin-right: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(images/bg.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-position: center;
    border-radius: 0;    
    font-family: 'futura_light', serif;
    box-shadow: 0rem 0rem 1rem gray;    
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
}

a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;     
    color: inherit;
}


